* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --background-primary: #f4f7ff;
  --background-secondary: #4fc294;
  --background-tertiary: #73cfaa;
  --color-primary: #37ba85;
  --text-primary: #1f1f1f;
  --text-secondary: #4b4b4b;
  --text-tertiary: #808080;
}

:root body.dark {
  --background-primary: #151f1b;
  --background-secondary: #212a26;
  --background-tertiary: #313a36;
  --color-primary: #37ba85;
  --text-primary: #dedede;
  --text-secondary: #999999;
  --text-tertiary: #89898b;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  line-height: 1.3;
}

h1 {
  font-size: 16px;
}

p {
  font-size: 10px;
}

/*
*Para não sobrepor a classe row e column
*dentro das tag do framework
*/
.column:not([class*="q-"]) {
  padding: 0 10px;
  width: 100%;
}

.row:not([class*="q-"]) {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
}

body {
  background-color: var(--background-primary);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

svg,
img,
a {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
}

.q-skeleton--dark {
  background-color: var(--background-tertiary);
}
.q-skeleton--dark.q-skeleton--anim-wave:after {
  background: linear-gradient(
    90deg,
    var(--background-tertiary),
    #4d5552,
    var(--background-tertiary)
  );
}

@media (min-width: 768px) {
  .column {
    padding: 0 15px;
  }
}
